<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF=8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-widht, initial-scale=1.0">
    <title>Acerca de mi</title>
</head>
<body>
<h5>Mi nombre es Sebastian Galli, soy el creador del proyecto. Este proyecto es un blog basado en la carga y la busqueda de libros
donde tendremos que logearnos para poder ingresar o sino registrarse. Una vez logeado o registrado ya puede ingresar y hacer
su carga de un libro que le guste, o la busqueda de un libro de su interes que este en stock. En caso de que haya un error
en algun libro que se haya cargado mal o este mal escrito, usted podra editarlo o borrarlo de su lista. En caso de que no quiera
cargar un libro existente o buscarlo, usted podra adicionar su libro propio de manera manual para que sea conocido por los lectores.
</h5>
</body>
</html>