{% extends 'index.html' %}

{% block title %}
Cargar
{% endblock %}

{% block inicio %}

    {% for i in object_list %}

        Nombre del libro: {{ i.nombre_libro }}
        <br>
        Nombre del autor: {{ i.nombre_autor }}
        <br>
        Imagen: {{ i.imagen}}
        <br>
        Fecha: {{ i.fecha}}
        <br>
        <a href="{% url 'AppEliminarAutor' i.nombre_autor %}">-X-</a>
        <a href="{% url 'AppEditarLibro' i.nombre_libro %}"> Editar</a>
        <br>
        <br>

    {% endfor %}

{% endblock %}